<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>FILAMENTREE</title>

    <!-- bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script src="../assets/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../assets/bootstrap/bootstrap.min.css" />

    <!-- AOS(https://michalsnik.github.io/aos/) -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <link rel="stylesheet" href="../styles/commonStyle.css" />
    <link rel="stylesheet" href="../styles/aboutStyle.css" />
  </head>

  <body>
    <script>
      AOS.init();
    </script>

    <nav class="gnb">
      <div class="nav container">
        <img
          class="logo"
          src="../assets/images/logo@2x.png"
          alt="FILAMENTREE"
        />

        <!-- Todo: 바로가기 link 수정 -->
        <!-- desktop menu -->
        <div class="grid">
          <a class="nav-link" href="./about.html">ABOUT</a>
          <a class="nav-link" href="#solution">WORK</a>
          <a class="nav-link" href="#influencer">NEWS</a>
          <a
            class="nav-link"
            href="#"
            data-toggle="modal"
            data-target="#contact"
            >CONTACT US</a
          >
          <a class="btn" href="#">REQUEST</a>
        </div>

        <!-- mobile menu btn -->
        <a
          class="btn btn-primary toggle"
          data-toggle="collapse"
          href="#mobileMenu"
          role="button"
          aria-expanded="false"
          aria-controls="mobileMenu"
        >
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
      <!-- mobile menu -->
      <div class="collapse" id="mobileMenu">
        <a class="nav-link active" href="#partner-case">ABOUT</a>
        <a class="nav-link" href="#solution">WORK</a>
        <a class="nav-link" href="#influencer">NEWS</a>
        <a class="nav-link" href="#influencer">CONTACT US</a>
      </div>
    </nav>

    <section class="about">
      <div class="container">
        <h3 class="title">
          FILAMENTREE IS CONSTANTLY STUDYING AND GROWING
        </h3>
        <h4>
          필라멘트리는 끊임없이 연구하고, 지속적으로 성장하고 있습니다
        </h4>
        <p>
          FILAMENTREE is a comprehensive PR agency that constantly researches
          trendy ideas and has been successful. <br />
          Currently, FILEMENTREE has a business strategy team to expand its
          reach into new industries related to new media and digital content.
          <br />
          Constantly strive to be a sustainable company beyond the image of an
          existing PR agency
        </p>
        <p>
          FILAMENTREE는 트렌디한 아이디어를 끊임없이 연구하고 성공적인 성과를
          거두고 있는 종합홍보 대행사입니다 <br />
          현재 FILAMENTREE는 사업 전략팀을 중심으로 AI, e-commerce 등 뉴미디어
          및 디지털 콘텐츠과 관련한 새로운 산업으로 영역을 확장하고 있습니다.
          <br />
          기존의 홍보 대행사의 이미지를 넘어 지속적으로 성장하는 기업이 되기
          위해 항상 노력하는 기업입니다
        </p>
      </div>
    </section>

    <section class="concept" data-aos="fade-up">
      <div class="container">
        <h3 class="title">
          FILAMENTREE CONCEPT
        </h3>
        <h4 class="subtitle">최고의 콘텐츠 전문가들과 함께 합니다</h4>

        <div class="team agency">
          <h4>
            기획팀 <br />
            PUBLIC RELATIONS AGENCY
          </h4>
          <hr />
          <p>
            <b>통합마케팅/홍보전략 및 실행</b>
            연간홍보 기획/운영, 메시지 개발, BI/CI 개발, 홍보물 제작, 프로모션,
            이벤트, SNS홍보
          </p>
          <p>
            <b>미디어믹스(Media-Mix) 및 송출</b>
            TVCF, Radio CM, 방송협찬/PPL, 온라인(페이스북, 인스타그램, 유튜브
            등) 광고
          </p>
        </div>

        <div class="team production">
          <h4>
            제작팀 <br />
            FILM PRODUCTION
          </h4>
          <hr />
          <p>
            기업홍보 &#183; 바이럴/광고 &#183; 메이킹/인터뷰 &#183;
            인포그래픽/CG
          </p>
        </div>

        <div class="team planning">
          <h4>
            신사업팀<br />
            STRATEGIC PLANNING TEAM
          </h4>
          <hr />
          <p>
            온라인 커머스 (상품셀렉, 수입, 유통, 판매, 온라인 마케팅 등) <br />
            퍼포먼스 마케팅 (콘텐츠 확산 및 구매전환) <br />
            글로벌 인플루언서 활용 마케팅 등
          </p>
        </div>
      </div>
    </section>

    <section class="history">
      <div class="container" data-aos="fade-up">
        <h2 class="title">
          HISTORY
        </h2>
        <img src="../assets/images/history-text.png" alt="history" />
      </div>
    </section>

    <section class="partner">
      <div class="container" data-aos="fade-up">
        <h2 class="title">PARTNER</h2>
        <img src="../assets/images/about-partner.png" alt="partner" />
      </div>
    </section>

    <section class="location">
      <div class="container" data-aos="fade-up">
        <h2 class="title">LOCATION</h2>

        <div class="grid">
          <div class="location-item">
            <h2>HQ</h2>
            <p>
              서울시 강남구 봉은사로 49길 17 [논현동 270-33] <br />
              The Filamentree building, 17, Bongeunsa-ro 49-gil <br />
              Gangnam-gu, Seoul, Republic of Korea
            </p>
          </div>
          <div class="location-item">
            <h2>STUDIO</h2>
            <p>
              서울 강남구 선릉로111길 42 4층 <br />
              4F, 42, Seolleung-ro 111-gil, Gangnam-gu, <br />
              Seoul, Republic of Korea
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- footer -->
    <footer>
      <img src="../assets/images/footer-logo.png" alt="FILAMENTREE" />

      <p>
        서울시 강남구 봉은사로 49길 17 [논현동 270-33] 필라멘트리 <br />
        <b>Tel</b> 02.517.2102 <b>Fax</b> 02.518.2102
        <b>Mail</b> main@filamentree.com <br />
        ©2020 Filamentree all rights reserved
      </p>
    </footer>

    <!-- 문의사항 -->
    <div
      class="modal fade"
      id="contact"
      tabindex="-1"
      role="dialog"
      aria-labelledby="contactLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="contactLabel">
              <b>고민의 a부터 z까지, 무엇이든 남겨주세요!</b>
            </h5>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="InputName">이름</label>
                <input
                  type="text"
                  class="form-control"
                  id="InputName"
                  placeholder="답변을 입력하세요"
                />
              </div>
              <div class="form-group">
                <label for="InputEmail">이메일</label>
                <input
                  type="email"
                  class="form-control"
                  id="InputEmail"
                  placeholder="답변을 입력하세요"
                />
              </div>
              <div class="form-group">
                <label for="InputPhone">연락처</label>
                <input
                  type="text"
                  class="form-control"
                  id="InputPhone"
                  placeholder="답변을 입력하세요"
                />
              </div>
              <div class="form-group">
                <label for="InputCompany">회사명</label>
                <input
                  type="text"
                  class="form-control"
                  id="InputCompany"
                  placeholder="답변을 입력하세요"
                />
              </div>
              <div class="form-group">
                <label for="InputCategory">업종</label>
                <select class="form-control" id="InputCategory">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                <label for="InputDetail">문의내용</label>
                <textarea
                  class="form-control"
                  id="InputDetail"
                  rows="3"
                  placeholder="답변을 입력하세요"
                ></textarea>
              </div>
              <div class="form-group form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="InputCheck"
                />
                <label class="form-check-label" for="InputCheck"
                  >컨설팅을 위한 개인정보 수집 및 이용에 동의합니다.</label
                >
              </div>
              <button type="submit" class="btn btn-secondary">보내기</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
