<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>FILAMENTREE</title>

    <!-- bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script src="../assets/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../assets/bootstrap/bootstrap.min.css" />

    <!-- AOS(https://michalsnik.github.io/aos/) -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <link rel="stylesheet" href="../styles/commonStyle.css" />
    <link rel="stylesheet" href="../styles/requestStyle.css" />
  </head>

  <body>
    <script>
      AOS.init();
    </script>

    <nav class="gnb">
      <div class="nav container">
        <a href="./index.html">
          <img
            class="logo"
            src="../assets/images/logo@2x.png"
            alt="FILAMENTREE"
          />
        </a>

        <!-- Todo: 바로가기 link 수정 -->
        <!-- desktop menu -->
        <div class="grid">
          <a class="nav-link" href="./about.html">ABOUT</a>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              WORK
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">MARKETING</a>
              <a class="dropdown-item" href="./workFilm.html">FILM</a>
            </div>
          </li>
          <a class="nav-link" href="#influencer">NEWS</a>
          <a
            class="nav-link"
            href="#"
            data-toggle="modal"
            data-target="#contact"
            >CONTACT US</a
          >
          <a class="btn" href="./request.html">REQUEST</a>
        </div>

        <!-- mobile menu btn -->
        <a
          class="btn btn-primary toggle"
          data-toggle="collapse"
          href="#mobileMenu"
          role="button"
          aria-expanded="false"
          aria-controls="mobileMenu"
        >
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
      <!-- mobile menu -->
      <div class="collapse" id="mobileMenu">
        <a class="nav-link" href="#partner-case">ABOUT</a>
        <a class="nav-link" href="#solution">WORK</a>
        <a class="nav-link" href="#influencer">NEWS</a>
        <a class="nav-link" href="#influencer">CONTACT US</a>
      </div>
    </nav>

    <section class="request">
      <div class="container">
        <div class="grid">
          <h3 class="title">
            필라멘트리에게 <br />
            궁금한 점이 있으신가요?
          </h3>
          <div class="divider-bottom"></div>
        </div>

        <ul class="grid">
          <li>
            <hr />
            <h4>프로젝트 진행에 대해 문의하고 싶습니다.</h4>
          </li>
          <li>
            <hr />
            <h4>필라멘트리에서 함께 일하고 싶습니다.</h4>
          </li>
          <li>
            <hr />
            <h4>다른 용건이 있습니다.</h4>
          </li>
        </ul>
      </div>
    </section>

    <!-- footer -->
    <footer>
      <img src="../assets/images/footer-logo.png" alt="FILAMENTREE" />

      <p>
        서울시 강남구 봉은사로 49길 17 [논현동 270-33] 필라멘트리 <br />
        <b>Tel</b> 02.517.2102 <b>Fax</b> 02.518.2102
        <b>Mail</b> main@filamentree.com <br />
        ©2020 Filamentree all rights reserved
      </p>
    </footer>

    <!-- 문의사항 -->
    <div
      class="modal fade"
      id="contact"
      tabindex="-1"
      role="dialog"
      aria-labelledby="contactLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="contactLabel">
              <b>고민의 a부터 z까지, 무엇이든 남겨주세요!</b>
            </h5>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="InputName">이름</label>
                <input
                  type="text"
                  class="form-control"
                  id="InputName"
                  placeholder="답변을 입력하세요"
                />
              </div>
              <div class="form-group">
                <label for="InputEmail">이메일</label>
                <input
                  type="email"
                  class="form-control"
                  id="InputEmail"
                  placeholder="답변을 입력하세요"
                />
              </div>
              <div class="form-group">
                <label for="InputPhone">연락처</label>
                <input
                  type="text"
                  class="form-control"
                  id="InputPhone"
                  placeholder="답변을 입력하세요"
                />
              </div>
              <div class="form-group">
                <label for="InputCompany">회사명</label>
                <input
                  type="text"
                  class="form-control"
                  id="InputCompany"
                  placeholder="답변을 입력하세요"
                />
              </div>
              <div class="form-group">
                <label for="InputCategory">업종</label>
                <select class="form-control" id="InputCategory">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                <label for="InputDetail">문의내용</label>
                <textarea
                  class="form-control"
                  id="InputDetail"
                  rows="3"
                  placeholder="답변을 입력하세요"
                ></textarea>
              </div>
              <div class="form-group form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="InputCheck"
                />
                <label class="form-check-label" for="InputCheck"
                  >컨설팅을 위한 개인정보 수집 및 이용에 동의합니다.</label
                >
              </div>
              <button type="submit" class="btn btn-secondary">보내기</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
