<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>FILAMENTREE</title>

    <!-- bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script src="../assets/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../assets/bootstrap/bootstrap.min.css" />

    <!-- AOS(https://michalsnik.github.io/aos/) -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <link rel="stylesheet" href="../styles/commonStyle.css" />
    <link rel="stylesheet" href="../styles/workFilmStyle.css" />
  </head>

  <body>
    <script>
      AOS.init();
    </script>

    <nav class="gnb">
      <div class="nav container">
        <a href="./index.html">
          <img
            class="logo"
            src="../assets/images/logo@2x.png"
            alt="FILAMENTREE"
          />
        </a>

        <!-- Todo: 바로가기 link 수정 -->
        <!-- desktop menu -->
        <div class="grid">
          <a class="nav-link" href="./about.html">ABOUT</a>
          <a class="nav-link" href="./workFilm.html">WORK</a>
          <a class="nav-link" href="#influencer">NEWS</a>
          <a
            class="nav-link"
            href="#"
            data-toggle="modal"
            data-target="#contact"
            >CONTACT US</a
          >
          <a class="btn" href="./request.html">REQUEST</a>
        </div>

        <!-- mobile menu btn -->
        <a
          class="btn btn-primary toggle"
          data-toggle="collapse"
          href="#mobileMenu"
          role="button"
          aria-expanded="false"
          aria-controls="mobileMenu"
        >
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
      <!-- mobile menu -->
      <div class="collapse" id="mobileMenu">
        <a class="nav-link" href="./about.html">ABOUT</a>
        <a class="nav-link" href="./workFilm.html">WORK</a>
        <a class="nav-link" href="#influencer">NEWS</a>
        <a class="nav-link" href="#" data-toggle="modal" data-target="#contact"
          >CONTACT US</a
        >
        <a class="nav-link" href="./request.html">REQUEST</a>
      </div>
    </nav>

    <section class="film">
      <div class="container">
        <h3 class="title visible-web">
          필라멘트리만의 <br />
          콘텐츠 스타일을 확인해보세요.
        </h3>
        <p class="detail visible-web">
          FILAMENTREE의 모든 것을 살펴보세요. <br />
          그동안 필라멘트리가 인정받은 결과물을 한 곳에 모았습니다. <br />
          여러분들의 원하는 스타일의 콘텐츠를 각 분야별로 찾아보세요.
        </p>

        <img
          src="../assets/images/workTitleApp.png"
          alt=""
          class="section-title full visible-app"
        />

        <h6 class="grid inline active"><span class="logo"></span> ALL</h6>
        <h6 class="grid inline">
          <span class="logo"></span> 기업홍보/광고영상
        </h6>
        <h6 class="grid inline"><span class="logo"></span> 브랜드/제품</h6>
        <h6 class="grid inline"><span class="logo"></span> 공공기관</h6>
        <h6 class="grid inline"><span class="logo marketing"></span> 마케팅</h6>
        <h6 class="grid inline">
          <span class="logo influencer"></span> 인플로언서
        </h6>
      </div>
    </section>

    <section class="portfolio">
      <div class="container" data-aos="fade-up">
        <!-- Todo: portfolio contents 링크, 정보 추가해야함 -->
        <div class="contents">
          <a href="./workFilmDetail.html">
            <img src="../assets/images/portfolio-1.png" alt="" />
            <!-- content 정보 입력 예시 -->
            <div class="info">
              <h2>2018</h2>
              <p>
                <b>Work / Video</b> <br />
                [DAIICHI] 베이비카시트 원픽스360_제품영상
              </p>
            </div>
          </a>
          <a href="#"><img src="../assets/images/portfolio-2.png" alt="" /></a>
          <a href="#"><img src="../assets/images/portfolio-3.png" alt="" /></a>
        </div>
      </div>

      <!-- Todo: portfolio 링크 -->
      <div class="more-btn">
        <a href="#" class="btn visible-app">
          <img class="full" src="../assets/images/viewMoreBtn.png" alt="" />
        </a>
      </div>
    </section>

    <!-- footer -->
    <footer>
      <img src="../assets/images/footer-logo.png" alt="FILAMENTREE" />

      <p>
        서울시 강남구 봉은사로 49길 17 [논현동 270-33] 필라멘트리 <br />
        <b>Tel</b> 02.517.2102 <b>Fax</b> 02.518.2102
        <b>Mail</b> main@filamentree.com <br />
        ©2020 Filamentree all rights reserved
      </p>
    </footer>

    <!-- 문의사항 -->
    <div
      class="modal fade"
      id="contact"
      tabindex="-1"
      role="dialog"
      aria-labelledby="contactLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="contactLabel">
              <b>고민의 a부터 z까지, 무엇이든 남겨주세요!</b>
            </h5>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="InputName">이름</label>
                <input
                  type="text"
                  class="form-control"
                  id="InputName"
                  placeholder="답변을 입력하세요"
                />
              </div>
              <div class="form-group">
                <label for="InputEmail">이메일</label>
                <input
                  type="email"
                  class="form-control"
                  id="InputEmail"
                  placeholder="답변을 입력하세요"
                />
              </div>
              <div class="form-group">
                <label for="InputPhone">연락처</label>
                <input
                  type="text"
                  class="form-control"
                  id="InputPhone"
                  placeholder="답변을 입력하세요"
                />
              </div>
              <div class="form-group">
                <label for="InputCompany">회사명</label>
                <input
                  type="text"
                  class="form-control"
                  id="InputCompany"
                  placeholder="답변을 입력하세요"
                />
              </div>
              <div class="form-group">
                <label for="InputCategory">업종</label>
                <select class="form-control" id="InputCategory">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                <label for="InputDetail">문의내용</label>
                <textarea
                  class="form-control"
                  id="InputDetail"
                  rows="3"
                  placeholder="답변을 입력하세요"
                ></textarea>
              </div>
              <div class="form-group form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="InputCheck"
                />
                <label class="form-check-label" for="InputCheck"
                  >컨설팅을 위한 개인정보 수집 및 이용에 동의합니다.</label
                >
              </div>
              <button type="submit" class="btn btn-secondary">보내기</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
