@font-face {
  font-family: NanumSquare;
  font-weight: 300;
  src: url(../assets/fonts/NanumSquareL.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/NanumSquareL.woff) format("woff"), url(../assets/fonts/NanumSquareL.ttf) format("truetype");
}

@font-face {
  font-family: NanumSquare;
  font-weight: 400;
  src: url(../assets/fonts/NanumSquareR.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/NanumSquareR.woff) format("woff"), url(../assets/fonts/NanumSquareR.ttf) format("truetype");
}

@font-face {
  font-family: NanumSquare;
  font-weight: 700;
  src: url(../assets/fonts/NanumSquareB.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/NanumSquareB.woff) format("woff"), url(../assets/fonts/NanumSquareB.ttf) format("truetype");
}

@font-face {
  font-family: NanumSquare;
  font-weight: 800;
  src: url(../assets/fonts/NanumSquareEB.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/NanumSquareEB.woff) format("woff"), url(../assets/fonts/NanumSquareEB.ttf) format("truetype");
}

@font-face {
  font-family: LEMONMILK;
  font-weight: 400;
  src: url(../assets/fonts/LEMONMILK-Regular.otf) format("otf");
}

@font-face {
  font-family: LEMONMILK;
  font-weight: 700;
  src: url(../assets/fonts/LEMONMILK-Medium.otf) format("otf");
}

@font-face {
  font-family: LEMONMILK;
  font-weight: 800;
  src: url(../assets/fonts/LEMONMILK-Bold.otf) format("otf");
}

section {
  padding: 80px 0;
}

@media screen and (max-width: 768px) {
  section {
    padding: 32px 0;
  }
}

@media screen and (max-width: 768px) {
  section img.section-title {
    height: 18px;
  }
}

.title {
  font-family: "LEMONMILK", sans-serif;
  font-weight: bold;
}

.about {
  position: relative;
  padding: 120px 0;
  padding-top: 237px;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 60px 0;
  }
}

.about p {
  margin-top: 48px;
}

.concept {
  padding-top: 0px;
}

.concept img.title {
  margin-bottom: 28px;
}

.concept img.full {
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 14px;
}

.history {
  height: 1320px;
  background: url(../assets/images/history-banner.png) no-repeat;
  background-size: cover;
  background-position-y: center;
}

@media screen and (max-width: 768px) {
  .history {
    background-image: url(../assets/images/historyBannerApp.png);
    background-position-y: bottom;
  }
}

.history .title {
  color: #fff;
}

.history img.full {
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  .history img.full {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .partner {
    margin-top: 20px;
  }
}

.partner img.full {
  margin-top: 24px;
}

.location .grid {
  margin-top: 48px;
}

@media screen and (max-width: 768px) {
  .location .grid {
    margin-top: 16px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.location a.location-item {
  width: 480px;
  padding: 120px 48px;
  color: #96a2ad;
  background-color: #f4f4f4;
}

@media screen and (max-width: 768px) {
  .location a.location-item {
    padding: 60px 28px;
    width: 100%;
  }
}

.location a.location-item:hover {
  color: #000;
  background-color: #ffef38;
  text-decoration: none;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .location a.location-item h2 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 768px) {
  .location a.location-item p {
    font-size: 12px;
    line-height: 16px;
  }
}

.location a.location-item + a.location-item {
  margin-left: 36px;
}

@media screen and (max-width: 768px) {
  .location a.location-item + a.location-item {
    margin-top: 12px;
    margin-left: 0px;
  }
}
/*# sourceMappingURL=aboutStyle.css.map */