@font-face {
  font-family: NanumSquare;
  font-weight: 300;
  src: url(../assets/fonts/NanumSquareL.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/NanumSquareL.woff) format("woff"), url(../assets/fonts/NanumSquareL.ttf) format("truetype");
}

@font-face {
  font-family: NanumSquare;
  font-weight: 400;
  src: url(../assets/fonts/NanumSquareR.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/NanumSquareR.woff) format("woff"), url(../assets/fonts/NanumSquareR.ttf) format("truetype");
}

@font-face {
  font-family: NanumSquare;
  font-weight: 700;
  src: url(../assets/fonts/NanumSquareB.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/NanumSquareB.woff) format("woff"), url(../assets/fonts/NanumSquareB.ttf) format("truetype");
}

@font-face {
  font-family: NanumSquare;
  font-weight: 800;
  src: url(../assets/fonts/NanumSquareEB.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/NanumSquareEB.woff) format("woff"), url(../assets/fonts/NanumSquareEB.ttf) format("truetype");
}

@font-face {
  font-family: LEMONMILK;
  font-weight: 400;
  src: url(../assets/fonts/LEMONMILK-Regular.otf) format("otf");
}

@font-face {
  font-family: LEMONMILK;
  font-weight: 700;
  src: url(../assets/fonts/LEMONMILK-Medium.otf) format("otf");
}

@font-face {
  font-family: LEMONMILK;
  font-weight: 800;
  src: url(../assets/fonts/LEMONMILK-Bold.otf) format("otf");
}

.main {
  position: relative;
  padding: 120px 0;
  padding-top: 237px;
  background: url(../assets/images/main-banner.png) no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #000;
}

.main::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.25;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 60px 0;
  }
}

.main .container {
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .main .container {
    text-align: center;
  }
}

.main .container a.btn {
  font-family: "LEMONMILK", sans-serif;
  margin-top: 180px;
}

@media screen and (max-width: 768px) {
  .main .container a.btn {
    margin-top: 40px;
  }
}

.desc {
  position: relative;
  padding: 125px 0;
  padding-bottom: 180px;
  background-color: #ffef00;
}

@media screen and (max-width: 768px) {
  .desc {
    padding: 60px 0;
  }
}

.desc .desc-content {
  margin-top: 72px;
}

.portfolio {
  padding: 120px 0;
  padding-bottom: 85px;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 60px 0;
  }
}

@media screen and (max-width: 768px) {
  .portfolio .container img.title {
    max-width: 50%;
  }
}

.portfolio .contents {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .portfolio .contents {
    margin-top: 24px;
  }
}

.portfolio .contents a:not(:nth-child(3n)) {
  margin-right: 21px;
}

@media screen and (max-width: 768px) {
  .portfolio .contents a:not(:nth-child(3n)) {
    margin-right: 0px;
  }
}

.portfolio .contents a {
  position: relative;
  margin-bottom: 18px;
  width: calc(33.333% - 3%);
}

@media screen and (max-width: 768px) {
  .portfolio .contents a {
    width: 100%;
  }
}

.portfolio .contents a img {
  width: 100%;
}

.portfolio .contents a .info {
  display: none;
}

.portfolio .contents a:hover .info {
  padding: 20px 24px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 239, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio .contents a:hover .info h2 {
  z-index: 11;
  margin-left: auto;
  color: #fff;
}

.portfolio .contents a:hover .info p {
  z-index: 11;
  color: #000;
  margin-top: auto;
  font-size: 12px;
  line-height: 16px;
}

.portfolio .more-btn {
  margin-top: 80px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .portfolio .more-btn {
    margin-top: 40px;
  }
}

.portfolio .more-btn a {
  display: inline-block;
  padding: 10px;
  background-color: #262626;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .portfolio .more-btn a {
    padding: 12px 8px;
    background-color: #ffef00;
  }
}

@media screen and (max-width: 768px) {
  .portfolio .more-btn a img {
    width: 150px;
  }
}
/*# sourceMappingURL=indexStyle.css.map */