@font-face {
  font-family: NanumSquare;
  font-weight: 300;
  src: url(../assets/fonts/NanumSquareL.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/NanumSquareL.woff) format("woff"), url(../assets/fonts/NanumSquareL.ttf) format("truetype");
}

@font-face {
  font-family: NanumSquare;
  font-weight: 400;
  src: url(../assets/fonts/NanumSquareR.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/NanumSquareR.woff) format("woff"), url(../assets/fonts/NanumSquareR.ttf) format("truetype");
}

@font-face {
  font-family: NanumSquare;
  font-weight: 700;
  src: url(../assets/fonts/NanumSquareB.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/NanumSquareB.woff) format("woff"), url(../assets/fonts/NanumSquareB.ttf) format("truetype");
}

@font-face {
  font-family: NanumSquare;
  font-weight: 800;
  src: url(../assets/fonts/NanumSquareEB.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/NanumSquareEB.woff) format("woff"), url(../assets/fonts/NanumSquareEB.ttf) format("truetype");
}

* {
  font-family: "NanumSquare", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.btn.dropdown-toggle {
  background: url("../assets/images/arrow_drop_down-24px.svg") no-repeat 95% 50%;
  padding: 0 12px;
  padding-right: 27px;
}

.dropdown-menu,
.dropdown-item {
  font-size: 12px;
  padding: 0;
}

.dropdown-item {
  padding: 4px 12px;
}

.dropdown-toggle::after {
  display: none;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  margin-bottom: 0;
}

input[type="radio"].invisible,
input[type="checkbox"].invisible {
  display: none;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #d0d3db;
}

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #d0d3db;
}

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #d0d3db;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
textarea::placeholder {
  color: #d0d3db;
}

label.btn,
button.btn {
  border: solid 1px #dce0e6;
}

button.btn-default {
  color: #000 !important;
  background-color: #ffef00;
}

button.btn-default:hover {
  opacity: 0.8;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 20px;
}

body {
  background-color: #fff;
  width: 100%;
  min-width: 1280px;
  height: 100%;
  padding-top: 60px;
  position: relative;
}

@media screen and (max-width: 768px) {
  body {
    min-width: auto;
  }
}

@media screen and (max-width: 768px) {
  .visible-web {
    display: none;
  }
}

.visible-app {
  display: none;
}

@media screen and (max-width: 768px) {
  .visible-app {
    display: inline;
  }
}

.container {
  max-width: 1024px;
  padding: 0 40px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mask {
  position: relative;
}

.mask::before {
  content: "";
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

a {
  cursor: pointer;
  color: #fff;
}

a.active, a:hover {
  color: #ffef00;
}

a:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  a:hover {
    opacity: 1;
  }
}

a.btn {
  background-color: #ffef00;
  color: #000;
  border-radius: 1px;
  padding: 0px 4px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: bold;
}

.gnb {
  top: 0;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1000;
  background-color: #000;
  padding: 13px 20px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .gnb {
    padding: 13px 0px;
  }
}

.gnb .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gnb .container img.logo {
  height: 30px;
}

@media screen and (max-width: 768px) {
  .gnb .container .grid {
    display: none;
  }
}

.gnb .container a.btn,
.gnb .container a.nav-link {
  font-size: 12px;
}

.gnb .container a.btn,
.gnb .container a.nav-link + a.nav-link {
  margin-left: 26px;
}

.gnb .container a.toggle {
  display: none;
  background-color: transparent;
  margin-bottom: 0px;
  margin-left: 0px;
  border: 0px;
  width: 35px;
}

@media screen and (max-width: 768px) {
  .gnb .container a.toggle {
    display: block;
  }
}

.gnb .container a.toggle:active, .gnb .container a.toggle:focus {
  border: 0px;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.gnb .container a.toggle span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #ffef00;
  margin: 0px;
}

.gnb .container a.toggle span + span {
  margin-top: 8px;
}

.gnb .collapse,
.gnb .collapsing {
  background-color: #000;
  padding: 13px 0px;
}

.gnb .collapsing {
  padding: 10px 0px;
}

.main {
  position: relative;
  padding: 150px 0;
  text-align: center;
  background: url(../assets/images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 120px 0;
  }
}

.main .container {
  position: relative;
}

.main .container h4 {
  color: #fff;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .main .container h4 {
    font-size: 14px;
    line-height: 20px;
  }
}

.main .container h4 span {
  color: #ffef00;
}

.main .container h1 {
  margin-top: 16px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .main .container h1 {
    font-size: 28px;
    line-height: 34px;
    font-weight: bold;
  }
}

.main .container h1 b {
  color: #ffef00;
}

.main .container a.btn {
  margin-top: 45px;
  padding: 5px 15px;
  font-weight: bolder;
}

.partner-case {
  text-align: center;
  padding: 40px 0;
  background-color: #ffef00;
  color: #000;
}

@media screen and (max-width: 768px) {
  .partner-case {
    padding: 0px;
    padding-top: 30px;
  }
}

.partner-case h3 {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .partner-case h3 {
    margin-bottom: 30px;
  }
}

.partner-case nav {
  margin: 0 32px;
  border-bottom: solid 1px #000;
}

@media screen and (max-width: 768px) {
  .partner-case nav {
    margin: 0px;
  }
  .partner-case nav ol {
    white-space: nowrap;
    overflow: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .partner-case nav ol::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
  }
  .partner-case nav ol a {
    min-width: 33%;
  }
}

.partner-case nav .grid.container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partner-case nav .grid.container a.nav-link {
  position: relative;
  color: #000;
}

.partner-case nav .grid.container a.nav-link.active {
  font-weight: bolder;
}

.partner-case nav .grid.container a.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -15%;
  height: 4px;
  width: 130%;
  background-color: #000;
}

@media screen and (max-width: 768px) {
  .partner-case nav .grid.container a.nav-link.active::after {
    left: 10%;
    width: 80%;
  }
}

.partner-case #partner-case-list .carousel-indicators {
  position: relative;
}

.partner-case #partner-case-list .carousel-inner {
  position: relative;
  margin-top: 26px;
  background: url(../assets/images/case-bg.png) no-repeat;
  background-size: 100% 82%;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .partner-case #partner-case-list .carousel-inner {
    margin-top: 48px;
    background-size: 100% 60%;
    background-position: bottom;
  }
}

.partner-case #partner-case-list .carousel-inner .container {
  padding: 0 80px;
}

@media screen and (max-width: 768px) {
  .partner-case #partner-case-list .carousel-inner .container {
    padding: 0 20px;
  }
}

.partner-case #partner-case-list .carousel-inner .container.grid {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .partner-case #partner-case-list .carousel-inner .container.grid {
    display: block;
  }
}

.partner-case #partner-case-list .carousel-inner .container img.mock {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .partner-case #partner-case-list .carousel-inner .container img.mock {
    width: 80%;
    margin-bottom: 50px;
  }
}

.partner-case #partner-case-list .carousel-inner .container .detail {
  width: 50%;
  padding-left: 32px;
  padding-bottom: 40px;
  text-align: left;
  position: relative;
}

@media screen and (max-width: 768px) {
  .partner-case #partner-case-list .carousel-inner .container .detail {
    width: 100%;
    padding-left: 40%;
    padding-bottom: 0px;
  }
}

.partner-case #partner-case-list .carousel-inner .container .detail img.logo {
  height: auto;
  position: absolute;
}

.partner-case #partner-case-list .carousel-inner .container .detail h2 {
  color: #ffef00;
}

@media screen and (max-width: 768px) {
  .partner-case #partner-case-list .carousel-inner .container .detail h2 {
    font-size: 18px;
    line-height: 26px;
  }
}

.partner-case #partner-case-list .carousel-inner .container .detail hr {
  margin-left: -32px;
  width: 100%;
  height: 1px;
  background-color: #ffef00;
}

@media screen and (max-width: 768px) {
  .partner-case #partner-case-list .carousel-inner .container .detail hr {
    margin: 8px 0px;
  }
}

.partner-case #partner-case-list .carousel-inner .container .detail h3 {
  color: #fff;
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
  .partner-case #partner-case-list .carousel-inner .container .detail h3 {
    font-size: 14px;
    line-height: 20px;
  }
}

.partner-case #partner-case-list .carousel-inner .container .detail h3 span {
  color: #ffef00;
}

.partner-case #partner-case-list .carousel-control.container {
  position: relative;
}

.partner-case #partner-case-list .carousel-control.container .carousel-control-next,
.partner-case #partner-case-list .carousel-control.container .carousel-control-prev {
  opacity: 1;
  top: -500px;
}

@media screen and (max-width: 768px) {
  .partner-case #partner-case-list .carousel-control.container .carousel-control-next,
  .partner-case #partner-case-list .carousel-control.container .carousel-control-prev {
    top: -700px;
  }
}

.partner-case #partner-case-list .carousel-control.container .carousel-control-prev {
  left: -10%;
}

@media screen and (max-width: 768px) {
  .partner-case #partner-case-list .carousel-control.container .carousel-control-prev {
    left: 0%;
  }
}

.partner-case #partner-case-list .carousel-control.container .carousel-control-next {
  right: -10%;
}

@media screen and (max-width: 768px) {
  .partner-case #partner-case-list .carousel-control.container .carousel-control-next {
    right: 0%;
  }
}

.partner-case #partner-case-list .carousel-control.container .carousel-control-prev-icon {
  background-image: url(../assets/images/prev-icon.png);
}

@media screen and (max-width: 768px) {
  .partner-case #partner-case-list .carousel-control.container .carousel-control-prev-icon {
    background-image: url(../assets/images/prev-icon-mobile.png);
  }
}

.partner-case #partner-case-list .carousel-control.container .carousel-control-next-icon {
  background-image: url(../assets/images/next-icon.png);
}

@media screen and (max-width: 768px) {
  .partner-case #partner-case-list .carousel-control.container .carousel-control-next-icon {
    background-image: url(../assets/images/next-icon-mobile.png);
  }
}

.partner-case #partner-case-list .carousel-control.container .carousel-control-next-icon,
.partner-case #partner-case-list .carousel-control.container .carousel-control-prev-icon {
  width: 20px;
  height: 40px;
}

@media screen and (max-width: 768px) {
  .partner-case #partner-case-list .carousel-control.container .carousel-control-next-icon,
  .partner-case #partner-case-list .carousel-control.container .carousel-control-prev-icon {
    width: calc(20px / 3 * 2);
    height: calc(40px / 3 * 2);
  }
}

.influencer {
  width: 100%;
  padding: 20px 0;
  background-color: #000;
  color: #fff;
}

.influencer .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.influencer .container h5 {
  margin-right: 12px;
  font-weight: bold;
}

.influencer-detail {
  width: 100%;
  color: #000;
  background: url(../assets/images/influencer-bg.png) no-repeat;
  background-size: cover;
}

.influencer-detail .what {
  padding: 80px 0;
}

@media screen and (max-width: 768px) {
  .influencer-detail .what {
    padding: 40px 0;
  }
}

.influencer-detail .what h2 {
  text-align: center;
  position: relative;
  color: #fff;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .influencer-detail .what h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 34px;
    margin-bottom: 0px;
  }
}

.influencer-detail .what h2 b {
  color: #ffef00;
}

.influencer-detail .what .grid {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .influencer-detail .what .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.influencer-detail .what .grid > img {
  width: 30%;
}

@media screen and (max-width: 768px) {
  .influencer-detail .what .grid > img {
    width: 100%;
  }
  .influencer-detail .what .grid > img + img {
    margin-top: 30px;
  }
}

.influencer-point {
  padding: 80px 0;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .influencer-point {
    padding: 40px 0;
  }
}

.influencer-point h2 {
  text-align: center;
  color: #000;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .influencer-point h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
  }
}

.influencer-point h2 b {
  padding: 0 10px;
  position: relative;
  font-weight: bolder;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(40%, #ffef00), color-stop(60%, #fff));
  background: linear-gradient(to bottom, #fff 0% 40%, #ffef00 40% 60%, #fff 60% 100%);
}

.influencer-point img {
  width: 100%;
}

.influencer-point img + img {
  margin-top: 40px;
}

.influencer-network {
  padding: 80px 0;
  background-color: #ffef00;
}

@media screen and (max-width: 768px) {
  .influencer-network {
    padding: 40px 0;
  }
}

.influencer-network h2 {
  text-align: center;
  color: #000;
  margin-bottom: 4px;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .influencer-network h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
  }
}

.influencer-network h4 {
  color: #000;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .influencer-network h4 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
  }
}

.influencer-network .grid {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.influencer-network .grid > img {
  width: 32%;
}

@media screen and (max-width: 768px) {
  .influencer-network .grid > img {
    width: 33%;
  }
}

.influencer-map {
  padding: 40px 0;
  background: url(../assets/images/influencer-map-bg.png) no-repeat;
  background-size: cover;
}

.influencer-map .container {
  position: relative;
}

.influencer-map .container img {
  width: 100%;
}

footer {
  padding: 80px 0;
  background-color: #3d3a38;
  color: #fefefe;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 40px 0;
  }
}

footer h4 {
  font-weight: bolder;
  text-align: center;
  margin-bottom: 48px;
}

@media screen and (max-width: 768px) {
  footer h4 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 24px;
  }
}

footer > .container.grid {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 768px) {
  footer > .container.grid {
    display: block;
  }
}

footer > .container > div {
  width: 53%;
}

@media screen and (max-width: 768px) {
  footer > .container > div {
    width: 100%;
    text-align: center;
  }
}

footer > .container > div:first-child {
  width: 42%;
}

@media screen and (max-width: 768px) {
  footer > .container > div:first-child {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  footer > .container > div h6 {
    font-size: 14px;
    line-height: 0px;
  }
}

footer > .container > div a.btn {
  padding: 0 12px;
  background-color: #fff;
  margin-left: 8px;
  margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
  footer > .container > div .mobile-btn {
    padding: 24px 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer > .container > div.site-map {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 768px) {
  footer > .container > div.site-map {
    display: block;
    text-align: left;
  }
}

footer > .container > div.site-map p {
  font-size: 12px;
  font-weight: lighter;
}

footer > .container > div.site-map p b {
  font-weight: inherit;
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  footer > .container > div.site-map p b {
    font-weight: bold;
  }
}

.modal .modal-header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0px;
}

.modal .modal-header .modal-title {
  margin: 0 auto;
  color: #000;
  font-weight: bold;
}

.modal .modal-header .modal-title b {
  padding: 0 10px;
  position: relative;
  font-weight: bolder;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(40%, #ffef00), color-stop(60%, #fff));
  background: linear-gradient(to bottom, #fff 0% 40%, #ffef00 40% 60%, #fff 60% 100%);
}

.modal .modal-body {
  text-align: center;
  font-size: 14px;
}

.modal .modal-body .form-group {
  text-align: left;
}

.modal .modal-body .form-check {
  text-align: center;
}

.modal .modal-body .btn-secondary {
  color: #000;
  background-color: #bfbfbf;
  padding: 2px 24px;
  font-size: 14px;
}
/*# sourceMappingURL=styles.css.map */