@import "./font.scss";

.film {
  position: relative;
  padding: 120px 0;
  h3.title {
    font-weight: bold;
    margin-bottom: 24px;
  }
  p.detail {
    margin-bottom: 66px;
  }

  h6 {
    font-weight: bold;
    span.logo {
      width: 20px;
      height: 20px;
      margin-right: 4px;
      background: url(../assets/images/icon-logo-inactive.png) no-repeat;
      background-size: contain;
      &.active {
        background-image: url(../assets/images/icon-logo-active.png);
      }
    }
  }
  h6 + h6 {
    margin-left: 24px;
  }

  .portfolio.grid {
    margin-top: 30px;
    justify-content: space-between;
    img {
      width: 32%;
    }
  }
}
